<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>RTW</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" href="/styles.css">
