<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<h1 class="h1">Koe&#8226;handel</h1>
	<section class="js-game game">
		<p>Game pin <span class="game__pin"><%=roomId %></span>
		</p>
		<section class="w-100">
			<h2 class="js-end-result"></h2>
			<ul class="js-players game__players">
				<li class="game__player winner"><%=username %> (jij) <span><span class="js-current-user-points">0</span>
						punten</span> </li>
				<li class="game__player"><span class="js-opponent">Wachten op tegenstander...</span>
					<span class=""><span class="js-opponent-points">0</span> punten</span></li>
			</ul>
		</section>
		<section class="js-game-form game__form display-none">
			<div class="animal-card">
				<p class="animal-card-points"><span class="js-points"></span>punten </p>
				<div class="result-overlay-color js-overlay display-none">
					<div class="result-overlay">
						<div class="result__player">
							<p><%=username %> (jij) test</p>
							<p class="h1">€<span class="js-bid"></span></p>
							<p>geboden</p>
						</div>
						<div class="result__player">
							<p class="js-opponent">Speler 1</p>
							<p class="h1">€<span class="js-opponent-bid">...</span></p>
							<p>geboden</p>
						</div>
					</div>
				</div>
				<img class="animal-card-img js-dogSrc" src="" alt="">
			</div>

			<form class="bet-form js-bet-form" action="">
				<p>Ik bied:</p>
				<div class="bet-form__input-fields">

					<input type="radio" class="js-bid-button display-none" value="10" name="bid" id="bet_10">
					<label for="bet_10" class="bet-form__label">10 euro</label>

					<input type="radio" class="js-bid-button display-none" value="25" name="bid" id="bet_25">
					<label for="bet_25" class="bet-form__label">25 euro</label>

					<input type="radio" class="js-bid-button display-none" value="50" name="bid" id="bet_50">
					<label for="bet_50" class="bet-form__label">50 euro</label>

					<input type="radio" class="js-bid-button display-none" value="75" name="bid" id="bet_75">
					<label for="bet_75" class="bet-form__label">75 euro</label>
					<button type="submit" class="btn js-bet-form-submit">Verstuur</button>
				</div>
			</form>
		</section>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>
</body>

</html>