<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body class="text-center">
	<h1 class="h1">Koe&#8226;handel</h1>
	<form action="/login" action="POST" class="js-start-form">
		<legend class="label display-none" for="username">Wat is je naam?</legend>
		<input class="input" id="username" name="username" autocomplete="off" placeholder="Wat is je naam?" value />
		<button class="js-create-room btn" type="submit">Volgende</button>
	</form>
</body>

</html>