<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
  <h1><%= data %>  </h1>
  <h2>Medereizigers</h2>
  <ul id="messages"></ul>
    <form class="messages" action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="index.js"></script> -->
<script type="text/javascript">
const room = "<%= data %>";
const socket = io("/tech");
$("form").submit(() => {
  let msg = $("#m").val();
  socket.emit("message", { msg, room });
  $("#m").val("");
  return false;
});

socket.on("connect", () => {
  // emiting to everybody
  socket.emit("join", { room: room });
});

socket.on("message", msg => {
  $("#messages").append($("<li>").text(msg));
});

</script>
</html>
