<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
  <h1>Kies vertrekpunt</h1>

<form class="" action="vertrektijden" method="post">
  <label for="stationName">Selecteer vertrek station</label>
  <select id="station" name='stationId'>
    <% data.forEach(function(item){  %>
      <option value="<%=item.stationId%> <%=item.stationName%>"><%=item.stationName %></option>
    <%})%>
</select>
<button type="submit" >Volgende</button>
</form>
</body>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="index.js"></script> -->

</html>
