* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f2f3f4;
}
form {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
form input {
  padding: 1em;
  width: 100%;
  border-radius: 10em;
  /* border: 1px solid grey; */
  margin-right: 0.5em;
  border: 0;
  background-color: white;
  font: inherit;
}
form button {
  width: 30%;
  background: #4cd964;
  border-radius: 3em;
  border: 0;
  padding: 0.5em 0.5em;
  font: inherit;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 3em;
}
#messages li {
  display: inline-block;
  width: auto;
  margin-right: 60%;
  //padding: 0.5em 0em;
  //border-radius: 0.5em;
  margin-bottom: 0.8rem;
  //background-color: white;
  color: black;
  font-weight: 500;
  //box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid lightgrey;
}

#messages span {
  font-size: 0.8em;
  display: block;
  color: grey;
  padding: 0.5em 0;
}
#messages li:nth-child(odd) {
  //background: #4cd964;
}

#messages li.bigSmiley {
  font-size: 3rem;
}

#messages li.bigSmiley span {
  font-size: 0.8rem;
}
