:root {
  --light: #efeae4;
  --dark: #3b3541;
  --blue: #6f7281;
  --red: #c2574c;
}

body {
  font-family: Ubuntu;
  max-width: 40em;
  margin: 2em auto;
  background-color: var(--light);
  color: var(--dark);
  height: 100vh;
}

.h1 {
  font-family: "Bowlby One SC", cursive;
  font-size: 50px;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
}

.display-none {
  display: none;
}

.animal-card {
  width: 100%;
}

.label {
}

.input {
}

.btn {
  background-color: var(--red);
  display: inline;
  padding: 1em;
  max-width: max-content;
  color: var(--light);
}

.animal-card-paragraph {
  font-family: "Bowlby One SC", cursive;
  font-size: 25px;
  background-color: white;
  border-radius: 0px 0px 1em 0px;
  padding: 1em;
  margin: 0;
  position: absolute;
}

.animal-card img {
  /* width: 100%; */
}

.bet-form {
}

button,
input {
  font-family: inherit;
}

label {
}

input:checked + .bet-form__label {
  background-color: #ff5252;
  color: white;
}
input:disabled + .bet-form__label {
  border-color: lightgrey;
  color: grey;
}
